.app-container{
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}